<% if !@products.empty? %>
    <div style="display: flex; flex-flow: row wrap;">
        <% @products.each do |ele| %>
            <div style="padding: 10px;">
                <%= image_tag (ele.image), style: "height:10vw;width:10vw;" if ele.image.attached? %>
                <p><%= ele.name %></p>
                <p><%= button_to "Add to cart", add_path(ele.id), method: :get %></p>
            </div>
        <% end %>
    </div>
<% end %>