<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to product.image.filename, product.image if product.image.attached? %>
  </p>

</div>
